.accardion {

  &__item {
    padding: 30px;
    background-color: #fff;
    border-radius: var(--radius-normal);
    cursor: pointer;

    @include mobile {
      padding: 20px;
    }

    @include active {
      .accardion__toggle {
        transform: rotate(180deg);
        transition: var(--transition-normal);

        &::before {
          opacity: 0;
          transition: var(--transition-normal);
        }

        &::before,
        &::after {
          background-color: var(--dark-color);
        }
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__number {
    margin-right: 30px;
    width: 48px;
    height: 38px;
    flex: 0 0 48px;
    font-size: 16px;
    background-color: rgba($color: $color-primary, $alpha: 0.8);
    border-radius: 10px;
    color: var(--dark-color);
    font-family: var(--secondary-font);
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      margin-right: 0;
      margin-bottom: 25px;
      width: 44px;
      height: 33px;
      flex: 0 0 44px;
      font-size: 12px;
    }
  }

  &__toggle {
    width: 34px;
    height: 34px;
    flex: 0 0 34px;
    margin-left: auto;
    position: relative;
    transition: var(--transition-normal);

    @include mobile {
      width: 26px;
      height: 26px;
      flex: 0 0 26px;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      margin: auto;
      background-color: var(--secondary-color);
      transition: var(--transition-normal);

      @include mobile {
        height: 2px;
      }
    }

    &::before {
      transform: rotate(90deg);
    }
  }

  &__title {
    font-size: 25px;
    color: var(--dark-color);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;

    @include mobile {
      font-size: 16px;
      gap: 15px;
    }
  }

  &__body {
    display: none;
    margin-top: 30px;
    font-family: var(--secondary-font);
    font-size: 16px;
    line-height: 140%;
    color: var(--grey-color);

    @include mobile {
      margin-top: 15px;
      font-size: 14px;
    }
  }

  &__padding {
    padding-left: 78px;

    @include mobile {
      padding-left: 0;
    }
  }
}