.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &__wrapper {
    padding: 50px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color: #E1E3E6, $alpha: 0.1);

    @include mobile {
      padding: 30px 0;
    }
  }

  &__logo {
    position: relative;
    z-index: 1023;
  }

  &__burger {
    padding: 10px 17px;
    height: 50px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background-color: var(--secondary-color);
    border-radius: 10px;
    position: relative;
    z-index: 1023;

    @include hover {
      background-color: #735A9C;

      span {
        &:nth-child(2) {
          transform: translateY(-3px);
        }
      }
    }

    @include mobile {
      margin-left: 30px;
      font-size: 0;
      height: 46px;
      width: 46px;
      padding: 0;
      order: 2;
    }

    &--open {
      display: none;
    }

    &--close {
      display: block;
    }

    &-dots {
      margin-right: 15px;
      display: flex;
      align-items: center;

      @include mobile {
        margin: 0;
      }

      span {
        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: #fff;
        border-radius: 50%;
        transition: var(--transition-normal);

        &:not(:last-child) {
          margin-right: 3px;
        }

        &:nth-child(2) {
          transform: translateY(3px);
        }
      }
    }

    @include active {
      background: var(--dark-color);
      .header__burger--close {
        display: none;
      }

      .header__burger--open {
        display: block;
      }

      .header__burger-dots {
        span {
          &:nth-child(2) {
            transform: translateY(-3px);
          }
        }
      }
    }
  }

  &__col {
    display: flex;
    align-items: center;
    @include mobile {
      margin-left: auto;
      position: relative;
      z-index: 1;
    }
  }

  &__buttons {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1023;
  }

  &__button {
    padding: 20px;
    height: 50px;
    font-size: 14px;
    color: rgba(var(--social-color), 1);
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include hover {
      background: rgba($color: var(--social-color), $alpha: 0.15)
    }

    @include mobile {
      font-size: 0;
    }

    svg {
      width: 16px;
      height: 16px;
      flex: 0 0 16px;

      @include desktop {
        display: none;
      }
    }
  }
  
  &__info {
    margin-left: 30px;

    @include mobile {
      display: none;
    }
  }

  &__phone {
    margin-bottom: 9px;
    font-size: 20px;
    line-height: 120%;
  }

  &__callback {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;

    @include hover {
      color: var(--secondary-color);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 71px;

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 25px;
      text-align: center;
    }
  }

  &__link {
    font-family: var(--primary-font);
    font-size: 35px;
    line-height: 120%;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
    color: var(--dark-color);

    @include hover {
      color: var(--secondary-color);
    }

    @include mobile {
      font-size: 23px;
    }
  }

  &__menu {
    position: absolute;
    top: 20px;
    left: -30px;
    right: -30px;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 20px 50px -30px rgba(255, 255, 255, 0.3);
    transition: var(--transition-normal);
    z-index: 1022;

    @include active {
      opacity: 1;
      visibility: visible;
      transition: var(--transition-normal);
    }

    @include mobile {
      top: 5px;
      left: -11px;
      right: -11px;
      overflow: hidden;
      height: calc(var(--vh) - 10px);
    }

    &-wrapper {
      padding: 180px 78px 70px 30px;

      @include mobile {
        margin-top: 80px;
        padding: 40px 11px 40px 11px;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
      }
    }

    &-block {
      font-family: var(--secondary-font);
      font-weight: 500;
    }

    &-top,
    &-bottom {
      display: grid;
      grid-template-columns: 260px 1fr;
      gap: 150px;

      @include mobile {
        display: flex;
        flex-direction: column-reverse;
        gap: 25px;
      }
    }

    &-bottom {
      margin-top: 100px;
      padding-bottom: 60px;

      @include mobile {
        margin-top: 25px;
        gap: 40px;
        align-items: center;
        text-align: center;
      }
    }

    &-menu {
      margin-bottom: 104px;
      font-size: 16px;
      line-height: 150%;
      color: var(--grey-color);

      @include mobile {
        position: absolute;
        top: 37px;
        right: 77px;
        margin: 0;
      }
    }

    &-text {
      font-size: 16px;
      line-height: 150%;
      color: var(--grey-color);

      @include mobile {
        font-size: 14px;
        width: 228px;
        margin: 0 auto;
        text-align: center;
      }
    }

    &-mail {
      margin-bottom: 30px;
      display: inline-block;
      font-size: 25px;
      line-height: 150%;
      color: var(--dark-color);

      @include mobile {
        margin-bottom: 25px;
        font-size: 20px;
      }
    }

    &-phone {
      display: flex;
      flex-direction: column;
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
      color: var(--dark-color);
    }

    &-callback {
      display: inline-block;
      margin-top: 9px;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: var(--dark-color);

      @include hover {
        color: var(--secondary-color);
      }
    }

    &-detail {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 72px;

      @include mobile {
        display: flex;
        flex-direction: column;
      }
    }

    &-info {
      font-size: 16px;
      line-height: 150%;
      color: var(--dark-color);

      @include mobile {
        display: none;
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      margin-top: 40px;
      gap: 10px;

      @include desktop {
        display: none;
      }

      .header__button {
        font-size: 12px;
        min-width: 107px;

        svg {
          display: none;
        }
      }
    }
  }
}

.is-menu-opened {
  .header__button {
    color: #fff;
    background: rgba(var(--social-color), 1);

    @include hover {
      background: rgba(var(--social-color), 0.5);
    }
  }

  .logo__text {
    color: var(--dark-color);
    transition: var(--transition-normal);
  }
}

.logo {
  display: flex;
  align-items: center;
  &__text {
    display: inline-block;
    margin-right: 12px;
    font-size: 26px;
    line-height: 117%;
    transition: var(--transition-normal);

    @include mobile {
      font-size: 20px;
      line-height: 117%;
    }
  }

  &__image {
    width: 50px;
    height: 50px;
    flex: 0 0 50px;

    @include mobile {
      display: none;
    }
  }
}