.about {
  padding: 75px 0;

  @include mobile {
    padding: 35px 0;
    --border-big: 20px;
  }

  &__title {
    margin-top: -35px;
    font-size: 148px;
    line-height: 117%;

    @include desktop-sm {
      font-size: 120px;
    }

    @include mobile {
      font-size: 35px;
      margin-top: 0;
    }
  }

  &__subtitle {
    font-size: 20px;
    line-height: 130%;
    color: var(--grey-color);

    @include mobile {
      font-size: 14px;
    }
  }

  &__video {
    margin-top: -50px;
    position: relative;
    z-index: 2;

    @include desktop-sm {
      margin-top: -44px;
    }

    @include mobile {
      margin-top: -15px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 20px;
      left: 34px;
      right: 34px;
      bottom: -20px;
      background: #272F3E;
      border-radius: var(--radius-big);
      z-index: -1;

      @include mobile {
        top: 6px;
        left: 17px;
        right: 17px;
        bottom: -6px;
      }
    }
  }
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding: 55% 0 0 0;
  border-radius: var(--radius-big);
  overflow: hidden;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 105px;
    height: 105px;
    margin: auto;
    background: url('../images/sprites/svg/play.svg') no-repeat center;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: var(--transition-normal);
    z-index: 2;

    @include mobile {
      width: 64px;
      height: 64px;
      background-size: 100% 100%;
    }
  }

  @include hover {
    &::after {
      opacity: 0.8;
      transition: var(--transition-normal);
    }
  }

  @include active {
    .video__image {
      opacity: 0;
      visibility: hidden;
      transition: var(--transition-normal);
    }

    &::after {
      opacity: 0!important;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: var(--transition-normal);

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }

  &__frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 94%;
    height: 96%;
    transform: translate(-50%, -50%) scale(1.1);
  }
}
