.capability {
  padding: 75px 0;

  @include mobile {
    padding: 35px 0;
    --border-big: 20px;
  }

  &--rounded {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 350px;
      left: -83px;
      width: 913px;
      height: 913px;
      background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 52.08%, rgba(255, 255, 255, 0) 100%);
      opacity: 0.2;
      filter: blur(150px);
      z-index: -1;

      @include mobile {
        margin: auto;
        top: 340px;
        left: -52px;
        right: -52px;
        width: 466px;
        height: 466px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 200px;
      right: -511px;
      width: 1156px;
      height: 1156px;
      background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      opacity: 0.3;
      filter: blur(180px);
      z-index: -1;

      @include mobile {
        top: -55px;
        right: -81px;
        width: 358px;
        height: 358px;
      }
    }
  }

  &__title {
    margin-bottom: 100px;
    width: 493px;

    @include mobile {
      margin-bottom: 40px;
      width: 100%;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__slider {
    position: relative;
    width: calc(100vw - var(--container-position));
  }

  .swiper-slide {
    width: auto!important;
  }

  &__slide {
    padding: 30px 30px 70px;
    width: 567px;
    min-height: 515px;
    background: rgba($color: #fff, $alpha: 0.15);
    border-radius: var(--radius-big);
    overflow: hidden;

    @include mobile {
      padding: 20px;
      width: 260px;
      min-height: auto;
    }
  }

  &__header {
    position: relative;
    margin-bottom: 50px;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 44.5%;
    border-radius: var(--radius-normal);
    overflow: hidden;

    @include mobile {
      --radius-normal: 15px;
      margin-bottom: 25px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__body {
    font-family: var(--secondary-font);
    font-weight: 500;
    color: #fff;
  }

  &__name {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 120%;

    @include mobile {
      margin-bottom: 15px;
      font-size: 20px;
    }
  }

  &__subtitle {
    font-size: 20px;
    line-height: 150%;

    @include mobile {
      font-size: 14px;
    }
  }

  &__navigation {
    position: absolute;
    top: -137px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 30px;

    @include mobile {
      display: none;
    }
  }
}