.capability {
  padding: 75px 0;

  @include mobile {
    padding: 35px 0;
    --border-big: 20px;
  }

  &__title {
    margin-bottom: 100px;
    width: 493px;

    @include mobile {
      margin-bottom: 40px;
      width: 100%;
    }
  }

  &__slider {

  }

  &__slide {

  }
  &__image {

  }

  &__title {

  }

  &__subtitle {

  }
}