.estate {
  padding: 75px 0;

  @include mobile {
    padding: 35px 0;
  }

  &--rounded {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -400px;
      left: -332px;
      width: 1156px;
      height: 1156px;
      background: #fff;
      background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      opacity: 0.3;
      filter: blur(180px);
      z-index: -1;

      @include mobile {
        top: -90px;
        left: -54px;
        right: -52px;
        width: 466px;
        height: 466px;
        opacity: 0.2;
        filter: blur(150px);
        margin: 0 auto;
      }
    }
  }

  &__slide {
    @include mobile {
      width: calc(100vw - var(--container-position) - 16px);
    }
  }
}
