.estate {
  padding: 75px 0;

  @include mobile {
    padding: 35px 0;
  }

  &--rounded {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -400px;
      left: -332px;
      width: 1156px;
      height: 1156px;
      background: #fff;
      background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      opacity: 0.3;
      filter: blur(180px);
      z-index: -1;

      @include mobile {
        top: -90px;
        left: -54px;
        right: -52px;
        width: 466px;
        height: 466px;
        opacity: 0.2;
        filter: blur(150px);
        margin: 0 auto;
      }
    }
  }

  &__card {
    color: #fff;
    @include desktop {
      width: calc(50% - 15px);
      flex: 0 0 calc(50% - 15px);
    }

    @include mobile {
      width: 300px;
      flex: 0 0 300px;
    }

    &-header {
      margin-bottom: 50px;

      @include mobile {
        margin-bottom: 25px;
      }
    }

    &-number {
      font-family: var(--secondary-font);
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      width: 62px;
      height: 50px;
      border-radius: 10px;
      background-color: rgba($color: #fff, $alpha: 0.5);
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        width: 46px;
        height: 37px;
        font-size: 14px;
      }
    }

    &-title {
      font-weight: 400;
      font-size: 25px;
      line-height: 120%;

      &:not(:last-child) {
        margin-bottom: 30px;

        @include mobile {
          margin-bottom: 15px;
        }
      }

      @include mobile {
        font-size: 20px;
      }
    }

    &-subtitle {
      font-family: var(--secondary-font);
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;

      @include mobile {
        font-size: 14px;
      }
    }

    &-body {
      margin-bottom: 20px;
    }

    &-footer {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;

      @include mobile {
        gap: 4px;
      }
    }
  }
}
