.receive {
  margin: 75px auto;

  @include mobile {
    margin: 35px auto;
  }

  &__title {
    margin-bottom: 70px;
    width: 295px;

    @include mobile {
      margin-bottom: 40px;
      width: 100%;
      text-align: center;
    }
  }

  &__slider {
    position: relative;
    // margin-right: -10%;
  }

  &__slide {
    padding: 30px;
    font-family: var(--secondary-font);
    font-weight: 500;
    // width: 348px;
    min-height: 390px;
    background: #bec7d6;
    border-radius: var(--radius-normal);

    @include mobile {
      padding: 20px;
      min-height: 214px;
    }
  }

  &__header {
    margin-bottom: 50px;

    @include mobile {
      margin-bottom: 25px;
    }
  }

  &__number {
    width: 62px;
    height: 50px;
    font-size: 20px;
    line-height: 120%;
    color: var(--dark-color);
    background: rgba($color: #fff, $alpha: 0.8);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      width: 46px;
      height: 37px;
      font-size: 14px;
    }
  }

  &__name {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 120%;
    color: var(--dark-color);
    word-break: break-all;

    @include mobile {
      margin-bottom: 15px;
      font-size: 20px;
    }
  }

  &__subtitle {
    font-size: 20px;
    line-height: 150%;
    color: var(--grey-color);

    @include mobile {
      font-size: 14px;
    }
  }
}