.valuable {
  padding: 75px 0;

  @include mobile {
    padding: 35px 0;
  }

  &--rounded {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -416px;
      right: 0;
      width: 1036px;
      height: 1036px;
      background: rgba($color: #7CC59E, $alpha: 0.2);
      filter: blur(150px);
      transform: translate3d(0, 0, 0);
      z-index: -1;

      @include mobile {
        top: 400px;
        left: -106px;
        right: -106px;
        width: 540px;
        height: 540px;
      }
    }
  }

  &__title {
    margin-bottom: 70px;
    width: 332px;

    @include mobile {
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 332px 1fr;
    gap: 106px;

    @include desktop-sm {
      grid-template-columns: 280px 1fr;
      gap: 30px;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }

  &__side {
    padding: 70px 30px;
    height: max-content;
    background: rgba($color: #fff, $alpha: 0.15);
    border-radius: var(--radius-normal);

    @include mobile {
      padding: 40px 30px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 50px;
        padding-bottom: 50px;
        border-bottom: 1px solid rgba($color: #E1E3E6, $alpha: 0.1);

        @include mobile {
          margin-bottom: 25px;
          padding-bottom: 25px;
        }
      }
    }

    &-title {
      margin-bottom: 24px;
      font-weight: 400;
      font-size: 30px;
      line-height: 120%;

      @include desktop-sm {
        font-size: 24px;
      }

      @include mobile {
        margin-bottom: 15px;
        font-size: 20px;
      }
    }

    &-subtitle {
      font-family: var(--secondary-font);
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: var(--grey-color);

      @include mobile {
        font-size: 14px;
      }
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    &:not(:last-child) {
      margin-bottom: 50px;
      padding-bottom: 50px;
      border-bottom: 1px solid rgba($color: #E1E3E6, $alpha: 0.1);

      @include mobile {
        margin-bottom: 25px;
        padding-bottom: 25px;
      }
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__block {
    padding: 70px 30px 30px;
    min-height: 446px;
    border-radius: var(--radius-normal);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include mobile {
      padding: 40px 20px 20px;
      min-height: 290px;
    }

    &--primary {
      color: #fff;
      background-color: var(--primary-color);

      .valuable__btn {
        color: var(--dark-color);
        background-color: #fff;

        @include hover {
          background-color: rgba($color: #fff, $alpha: 0.9)
        }
      }
    }

    &--white {
      color: var(--dark-color);
      background-color: #fff;

      .valuable__btn {
        color: #fff;
        background-color: var(--primary-color);

        @include hover {
          background-color: rgba($color: #7CC59E, $alpha: 0.9);
        }
      }
    }

    &-title {
      margin-bottom: 40px;
      font-size: 22px;
      line-height: 120%;

      @include mobile {
        margin-bottom: 15px;
        font-size: 20px;
      }
    }

    &-subtitle {
      font-family: var(--secondary-font);
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;

      @include mobile {
        font-size: 14px;
      }
    }

    &-btn {
      margin-top: auto;
    }
  }

  &__btn {
    min-width: 266px;

    @include mobile {
      min-width: auto;
    }
  }

  &__col {
    &:not(:last-child) {
      @include mobile {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba($color: #E1E3E6, $alpha: 0.1);
      }
    }
  }

  &__name {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 120%;
    color: #fff;

    @include mobile {
      margin-bottom: 15px;
      font-size: 20px;
    }
  }

  &__desc {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--grey-color);

    @include mobile {
      font-size: 14px;
    }
  }
}