section.about
  .container
    .about__wrapper
      p.about__subtitle
        | Видео
      h2.about__title
        | О Crypto Estate
      .about__video
        .video
          +picture('about', 'video__image')
          iframe.video__frame(src="", frameborder="0") 
