section.payment.payment--bg.payment--rounded
  .payment__wrapper
  .container
      .section__grid
        .section__col.flex-column.gap-0
          p.subtitle
            | Пять шагов
          h2.title
            | Процедура платежа
        .payment__accardion.accardion
          +accardion(data.payment, true, true)
