// Payment Start
section.payment.payment--bg.payment--rounded#pay
  .payment__wrapper
  .container
      .section__grid
        .section__col.flex-column.gap-0.mt-md-13
          p.subtitle
            | Пять шагов
          h2.title
            | Процедура платежа
        .payment__accardion.accardion
          +accardion(data.payment, true, true)
// Payment End
