@import '../sections/hero';
@import '../sections/about';
@import '../sections/estate';
@import '../sections/privilege';
@import '../sections/payment';
@import '../sections/necessary';
@import '../sections/callback';
@import '../sections/capability';
@import '../sections/receive';
@import '../sections/valuable';
@import '../sections/property';
@import '../sections/services';
