@import '../sections/hero';
@import '../sections/about';
@import '../sections/estate';
@import '../sections/privilege';
@import '../sections/payment';
@import '../sections/necessary';
@import '../sections/callback';
@import '../sections/capability';
