.modal#agree
  .modal__block
    .modal__close.js-modal-close
    .modal__body
      h2.modal__title
        | Политика конфиденциальности
      p
        | Это официальная Политика конфиденциальности сайта https://spm.estate, принадлежащего и управляемого компанией SPM Production Ltd («SPM», «мы», «нас» или «наш»). Термины с заглавной буквы, не определенные в настоящем документе, имеют значения, указанные в Условиях использования.
      p
        | Пожалуйста, внимательно прочитайте настоящую Политику конфиденциальности, чтобы убедиться, что вы понимаете, как мы собираем и используем вашу информацию и при каких обстоятельствах мы передаем вашу информацию.
      p 
        | Политика конфиденциальности базируется на Регламенте (ЕС) 2016/679 о защите физических лиц в отношении обработки персональных данных и о свободном перемещении таких данных (GDPR)
      p
        | ИНФОРМАЦИЯ, КОТОРУЮ МЫ СОБИРАЕМ И/ИЛИ ПОЛУЧАЕМ. В процессе эксплуатации Веб-сайта SРМбудет собирать (и/или получать) следующие виды информации. Вы разрешаете нам собирать и/или получать такую информацию.
      p
        | Личная информация. Когда вы оставляете форму обратной связи на Веб-сайте, вы должны будете предоставить нам личную информацию о себе, такую как ваше имя, адрес электронной почты, почтовый адрес и номер телефона (далее «Личная информация»). Мы не собираем от вас Личную информацию, если вы не предоставляете нам ее добровольно.
      p
        | Другая информация. Помимо Личной информации, мы можем собирать или получать дополнительную информацию (совместно именуемую «Другая информация»). Такая Прочая информация может включать:
      p
        | От вашей деятельности. Для того чтобы предоставить вам определенные возможности и функции Веб-сайта, а также в рамках постоянной работы по улучшению нашего Веб-сайта, мы автоматически собираем определенную информацию, когда вы пользуетесь Веб-сайтом, и интегрируем ее с другими вашими устройствами и услугами. Такая информация может включать, без ограничений:
      p
        | IP-адреса, тип и язык браузера, ссылающиеся и выходящие страницы и URL-адреса, дату и время, количество времени, проведенное на Веб-сайте, какие разделы Веб-сайта вы посещаете и т. д.; информацию о мобильном устройстве, включая универсально уникальный идентификатор («UUID»), тип и версию платформы (например, iOS или Android), местоположение оператора и страну, информацию об аппаратном обеспечении и процессоре, а также тип сети; информацию о действиях и использовании, происходящих через Веб-сайт, включая, без ограничений, информацию о прошлых покупках и предпочтениях в отношении продуктов/услуг.
      p
        | Из файлов «cookie». Мы собираем информацию с помощью технологии «cookie». Cookies — это небольшие пакеты данных, которые веб-сайт сохраняет на жестком диске вашего компьютера или мобильного устройства (или другом носителе информации), чтобы ваш компьютер «запомнил» информацию о вашем посещении. Мы используем как сеансовые файлы cookie первой и третьей стороны, так и постоянные файлы cookie. Ниже приводится общая информация о сеансовых и постоянных файлах cookie; информация, собираемая файлами cookie, зависит от их конкретной цели. Для получения более подробной информации ознакомьтесь с информацией о поставщиках аналитических услуг, рассмотренной ниже.
      p
        | Сеансовые файлы cookie: Мы используем сеансовые файлы cookie, чтобы облегчить вам навигацию по нашему сайту. Срок действия cookie с идентификатором сеанса истекает, когда вы закрываете браузер.
      p 
        | Постоянные файлы cookie: Постоянные файлы cookie остаются на вашем жестком диске в течение длительного периода времени или до тех пор, пока вы их не удалите. Вы можете удалить постоянные файлы cookie, следуя инструкциям, приведенным в файле «Помощь» вашего веб-браузера. В тех случаях, когда мы предоставляем портал для входа в систему или связанные с ним функции на нашем сайте, постоянные файлы cookie могут использоваться для хранения ваших паролей, чтобы вам не приходилось вводить их несколько раз. Постоянные файлы cookie также позволяют нам отслеживать и определять интересы наших посетителей для персонализации работы на нашем сайте.
      p 
        | В некоторых случаях мы можем связать информацию, которую вы нам предоставили (например, адрес электронной почты), с используемыми нами файлами cookie. Помимо содействия целям, описанным выше, это полезно для понимания вашего взаимодействия с другим контентом, связанным с нашим Сайтом (например, частота открытия электронных писем, переходы по URL).
      p 
        | Если вы не хотите, чтобы мы размещали файлы cookie на вашем жестком диске, вы можете отключить эту функцию на своем компьютере или мобильном устройстве. Пожалуйста, обратитесь к документации вашего браузера, чтобы узнать, как это сделать и как удалить постоянные файлы cookie. Однако если вы решите не принимать от нас файлы cookie, некоторые аспекты Веб-сайта могут функционировать неправильно или не так, как предполагалось.
      p 
        | Аналитика третьих лиц и ремаркетинг.
      p 
        | Мы и сторонние поставщики технологий, рекламные биржи, рекламные сети, рекламодатели, агентства и рекламные серверы, с которыми мы работаем, используем сторонние аналитические службы (например, Google Analytics) для оценки использования вами Веб-сайта, составления отчетов о деятельности, сбора демографических данных, анализа показателей производительности, а также сбора и оценки другой информации, касающейся Веб-сайта, использования мобильных устройств и Интернета. Эти третьи лица используют файлы cookie и другие технологии для анализа и предоставления нам данных. Вы соглашаетесь на обработку данных о вас этими поставщиками аналитических услуг в порядке и для целей, изложенных в настоящей Политике конфиденциальности. Для получения дополнительной информации об этих третьих сторонах, в том числе о том, как отказаться от сбора определенных данных, посетите указанные ниже сайты. Пожалуйста, имейте в виду, что если вы откажетесь от какой-либо услуги, вы не сможете пользоваться всеми функциями Веб-сайта.
      p 
        | Для Google Analytics, пожалуйста, посетите: https://www.google.com/analytics.
      p 
        | Для Facebook, пожалуйста, посетите: https://www.facebook.com/about/privacy
      p 
        | Для Hubspot, пожалуйста, посетите: https://legal.hubspot.com/privacy-policy.
      p 
        | Мы также используем одну или несколько сторонних служб ремаркетинга для размещения рекламы на веб-сайтах третьих лиц для предыдущих посетителей нашего Веб-сайта. Эти сторонние поставщики услуг ремаркетинга используют файлы cookie для размещения рекламы на основе прошлого посещения Веб-сайта. Любые данные, собранные такими сторонними поставщиками услуг ремаркетинга, будут использоваться в соответствии с настоящей Политикой конфиденциальности и политикой конфиденциальности такого стороннего поставщика услуг ремаркетинга. Для получения дополнительной информации о таких сторонних поставщиках услуг ремаркетинга, в том числе о том, как отказаться от сбора определенных данных, пожалуйста, обратите внимание на следующее:
      p 
        | Для Google Adwords вы можете установить предпочтения в отношении того, как Google размещает для вас рекламу, используя страницу Google Ad Preferences по адресу https://adssettings.google.com/authenticated. Если вы хотите, вы можете полностью отказаться от рекламы на основе интересов с помощью настроек cookie или навсегда с помощью плагина для браузера.
      p 
        | Для Web Identity вы можете отказаться от отслеживания и ретаргетинга электронных писем, отправив письмо по адресу sales@spm.estate с темой письма «Web Identity opt out».
      p 
        | КАК МЫ ИСПОЛЬЗУЕМ И ПЕРЕДАЕМ ИНФОРМАЦИЮ. Вы разрешаете нам использовать вашу личную информацию и другую информацию (далее «Информация») для предоставления Веб-сайта и его улучшения, для получения ваших отзывов, а также для информирования вас о наших продуктах и услугах и продуктах и услугах наших партнеров по продвижению. Вы также разрешаете нам использовать и/или передавать Информацию, как описано ниже:
      p 
        | Мы можем время от времени передавать и/или лицензировать Информацию другим компаниям, которые могут предоставлять вам информацию о продуктах и услугах, предлагаемых ими или их партнерами. Однако, в той мере, в какой это требуется законом, вам будет предоставлена возможность отказаться от такого обмена.
      p 
        | Мы будем получать доступ, использовать и передавать Информацию по мере необходимости для выполнения наших обязательств перед вами, предоставления вам поддержки, а также для ответа на ваши вопросы или запросы, касающиеся нашего Веб-сайта.
      p 
        | Мы можем нанимать другие компании и отдельных лиц для выполнения функций от нашего имени. В качестве примера можно привести обслуживание клиентов, выставление счетов и маркетинговую поддержку. Эти другие компании будут иметь доступ к Информации только в том случае, если это необходимо для выполнения их функций, и в той мере, в какой это разрешено законом.
      p 
        | В постоянном стремлении лучше понять наших клиентов и наш Веб-сайт, мы можем анализировать определенную Информацию в анонимизированной и/или агрегированной форме для того, чтобы управлять, поддерживать, управлять и улучшать Веб-сайт, наши продукты и услуги. Эта анонимная информация не идентифицирует вас лично. Мы можем использовать эту анонимную информацию и передавать ее и/или лицензировать ее нашим филиалам, агентам, деловым и рекламным партнерам и другим третьим лицам. Мы также можем раскрывать анонимную статистику пользователей для того, чтобы описать наш Сайт и бизнес нынешним и потенциальным деловым партнерам, а также другим третьим лицам в иных законных целях.
      p 
        | Мы можем передавать часть или всю вашу Информацию любой из наших материнских компаний, дочерних компаний, совместных предприятий или других компаний, находящихся под общим с нами контролем.
      p 
        | По мере развития нашего бизнеса мы можем продавать или покупать предприятия или активы. В случае корпоративной продажи, слияния, реорганизации, продажи активов, роспуска или аналогичного события, Информация может быть частью передаваемых активов.
      p 
        | В пределах, разрешенных законом, мы также можем раскрывать Информацию: (i) когда этого требует закон, постановление суда или другого государственного или правоохранительного органа или регулирующего агентства; или (ii) когда мы считаем, что раскрытие такой Информации необходимо или целесообразно, например, для защиты прав, собственности или безопасности SPM или других лиц.
      p 
        | Если SPM намеревается использовать вашу Информацию каким-либо образом, не соответствующим данному разделу, вы будете проинформированы о таком предполагаемом использовании до или во время сбора Информации.
      p 
        | ИНФОРМАЦИЯ, СОБРАННАЯ СТОРОННИМИ РЕКЛАМНЫМИ КОМПАНИЯМИ ИЛИ ЧЕРЕЗ НИХ. Вы разрешаете нам передавать Прочую информацию о вашей деятельности и взаимодействии с Веб-сайтом третьим лицам с целью подбора, анализа, управления, отчетности и оптимизации рекламы для вас. Эти третьи лица могут использовать файлы cookie, пиксельные теги (также называемые веб-маяками или clear gifs) и/или другие технологии для сбора такой Прочей информации в этих целях. Пиксельные теги позволяют нам и сторонним рекламодателям распознавать cookie-файлы браузера, когда браузер посещает сайт, на котором расположен пиксельный тег, чтобы узнать, какая реклама привела пользователя на данный сайт.
      p 
        | ПЕРЕДАЧА ВАШЕЙ ЛИЧНОЙ ИНФОРМАЦИИ НЕАФФИЛИРОВАННЫМ ТРЕТЬИМ ЛИЦАМ. Мы не будем передавать вашу личную информацию неаффилированным третьим лицам, которые могут использовать такую информацию для маркетинга, не получив вашего согласия. Например, мы можем предложить вам возможность приобретения продукта, что потребует от нас передачи вашей личной информации неаффилированным третьим лицам, которые могут использовать такую информацию для маркетинга. Мы получим ваше согласие на такой обмен вашей личной информацией, когда ознакомим вас с условиями такого предложения. Если вы дали согласие на такой вид обмена, то вы можете отказаться от такого обмена или запросить определенную информацию относительно раскрытия нами такой Личной информации таким неаффилированным третьим лицам, связавшись с нами по адресу sales@spm.estate.
      p 
        | Если вы хотите отказаться от передачи вашей Личной информации нашим аффилированным лицам, чтобы эти лица могли использовать вашу Личную информацию для маркетинга, пожалуйста, свяжитесь с нами по адресу sales@spm.estate.
      p 
        | КАК МЫ ЗАЩИЩАЕМ ВАШУ ЛИЧНУЮ ИНФОРМАЦИЮ. Мы принимаем коммерчески обоснованные меры для защиты вашей личной информации от потери, неправильного использования, несанкционированного доступа, раскрытия, изменения или уничтожения. Однако, пожалуйста, поймите, что ни одна система безопасности не является непробиваемой. Мы не можем гарантировать безопасность наших баз данных, а также не можем гарантировать, что предоставленная вами Личная информация не будет перехвачена при передаче к нам и от нас через Интернет.
      p 
        | ДОСТУП И ИЗМЕНЕНИЕ ЛИЧНОЙ ИНФОРМАЦИИ И КОММУНИКАЦИОННЫХ ПРЕДПОЧТЕНИЙ. Если у вас есть учетная запись на Веб-сайте, вы можете получить доступ, просмотреть и внести изменения в свою Личную информацию, следуя инструкциям, размещенным на Веб-сайте. Кроме того, вы можете управлять получением маркетинговых и нетранзакционных сообщений, нажав на ссылку «отписаться», расположенную в нижней части любого маркетингового письма SPM. Зарегистрированные пользователи не могут отказаться от получения транзакционных электронных писем, связанных с их учетной записью на Веб-сайте, если иное не указано в электронном письме. Мы будем прилагать коммерчески обоснованные усилия для своевременной обработки таких запросов. Однако вы должны понимать, что не всегда возможно полностью удалить или изменить информацию в наших базах данных.
      p 
        | ПРАВО НА УДАЛЕНИЕ.  С учетом некоторых исключений, изложенных ниже, после получения от вас поддающегося проверке запроса мы удалим вашу личную информацию из ваших записей и поручим любым поставщикам услуг удалить вашу личную информацию из их записей.  Обратите внимание, что мы можем не выполнить просьбы об удалении вашей личной информации, включая, но не ограничиваясь следующим: соблюдения существующих юридических обязательств; если это необходимо для завершения сделки, для которой была собрана личная информация, выполнения условий письменной гарантии или отзыва продукции, проводимого в соответствии с законом, предоставления товаров или услуг, запрошенных вами или обоснованно предполагаемых в контексте наших текущих деловых отношений с вами или иного выполнения договора между вами и нами; обнаружения инцидентов безопасности, защиты от злонамеренной, мошеннической или незаконной деятельности или преследования лиц, ответственных за эту деятельность; иного использования вашей личной информации внутри компании законным образом, совместимым с контекстом, в котором вы предоставили информацию.
      p 
        | Кроме того, SPM не отслеживает, не признает и не соблюдает какие-либо механизмы отказа от использования или запрета отслеживания, включая общие настройки и/или сигналы веб-браузера «Не отслеживать».
      p 
        | ИЗМЕНЕНИЯ В ДАННОЙ ПОЛИТИКЕ КОНФИДЕНЦИАЛЬНОСТИ.
      p 
        | SPM оставляет за собой право по своему усмотрению изменять, добавлять или удалять положения настоящей Политики конфиденциальности в любое время. Мы разместим дату вступления в силу любого изменения в верхней части настоящей Политики конфиденциальности. Использование вами Сайта или любого Контента после даты вступления в силу любого такого изменения означает, что вы принимаете и соглашаетесь соблюдать Политику конфиденциальности с внесенными в нее изменениями. SРМнастоятельно рекомендует вам регулярно возвращаться на эту цифровую страницу и просматривать настоящую Политику конфиденциальности, чтобы вы всегда были в курсе условий и положений, которые применяются к вам.
      p 
        | По вопросам, связанным с конфиденциальностью, обращайтесь к нам по адресу sales@spm.estate.