.modal.modal-success
  .modal__block
    .modal__close.js-modal-close
    .modal__body
      .modal__icon
        +svg('check').modal__svg
      h2.modal__title.text-center
        | Спасибо! <br>Ваша заявка принята
      .modal__subtitle.text-center
        | Эксперт по работе с недвижимостью <br>от Crypto Estate свяжется с вами<br> в ближайшее время
      .modal__bgText
        | Crypto <br>Estate
      img.modal__image(src="./images/content/author.png", alt="")