-
	const data = {
		phone: '+357 12 34 1234',
		mail: 'info@spm.family',

		header: {
			links: {
				logo: '/',
			},
			menu: [
				{
					url: '#bonus',
					name: 'Бонусы недвижимости Кипра'
				},
				{
					url: '#pay',
					name: 'Процедура платежа'
				},
				{
					url: '#about',
					name: 'О компании'
				},
				{
					url: '#faqs',
					name: 'Ответы на вопросы'
				}
			]
		},

		socials: [
			{
				title: 'Свзяь по Telegram',
				name: 'Telegram',
				icon: 'telegram',
				color: '3,155,229'
			},
			{
				title: 'Свзяь по Whatsapp',
				name: 'Whatsapp',
				icon: 'whatsapp',
				color: '76,175,80'
			},
		],

		estates: [
			{
				title: 'Для жизни',
				subtitle: 'Сделка купли-продажи осуществляется безопасно и просто. Упрощенный процесс покупки недвижимости для жизни:',
				tags: ['таунхаусов', 'вилл', 'апартаментом']
			},
			{
				title: 'Для инвестиций',
				subtitle: 'Токенизация недвижимости позволяет купить за криптовалюту объекты с высоким показателем возврата инвестиций:',
				tags: ['рестораны', 'отели', 'сервисные объекты']
			},
		],

		privileges: [
			{
				icon: 'graph',
				title: 'Стабильность от внешних факторов',
				subtitle: 'На курс криптовалюты не влияет политическая ситуация и сезонные финансовые колебания'
			},
			{
				icon: 'sert',
				title: 'Конфиденциальность сделки',
				subtitle: 'Операции проходят по защищенному протоколу без упоминания личных данных инвестора и застройщика'
			},
		],

		payment: [
			{
				title: 'Подбор объекта недвижимости',
				subtitle: 'Подбор соответствующего объекта недвижимости под данный механизм оплаты с последующим оформлением соглашения с застройщиком'
			},
			{
				title: 'Оформление права собственности',
				subtitle: 'Подбор соответствующего объекта недвижимости под данный механизм оплаты с последующим оформлением соглашения с застройщиком'
			},
			{
				title: 'Перечисление криптовалюты клиентом',
				subtitle: 'Подбор соответствующего объекта недвижимости под данный механизм оплаты с последующим оформлением соглашения с застройщиком'
			},
			{
				title: 'Выплата застройщику',
				subtitle: 'Подбор соответствующего объекта недвижимости под данный механизм оплаты с последующим оформлением соглашения с застройщиком'
			},
			{
				title: 'Конвертация цифровых активов в евро',
				subtitle: 'Подбор соответствующего объекта недвижимости под данный механизм оплаты с последующим оформлением соглашения с застройщиком'
			},
		],

		necessarys: [
			{
				title: 'Проверка персональных данных KYC',
				subtitle: 'Вам нужно доказать законность источника вашего дохода через проверку персональных данных клиента согласно процедуре KYC (Know Your Customer)',
			},
			{
				title: 'Справка о несудимости',
				subtitle: 'У вас и вашего партнера по браку (супруги или супруга) не должно быть судимостей',
			},
			{
				title: 'Due Diligence',
				subtitle: 'Обязательно происходит оценка объекта инвестирования по процедуре Due Diligence',
			},
			{
				title: 'Базовый договор',
				subtitle: 'Подготовка базового договора о приобретении недвижимости за криптовалюту (оплата произведена и объект получен в правосо бственности)',
			},
		],

		capability: [
			{
				image: 'slide-01',
				title: 'Получение ПМЖ и гражданства',
				subtitle: 'Инвестируя в недвижимость криптовалютой, эквивалентной сумме от 300 000 €, вы можете получить ПМЖ Кипра всего за 2 месяца (Fast-Track), и через 7 лет стать гражданином Евросоюза. ПМЖ выдается на всю семью'
			},
			{
				image: 'slide-02',
				title: 'Доход от инвестиций в недвижимость',
				subtitle: 'Стоимость недвижимости и рост рынка обгоняют инфляцию и дают хорошие показатели по ROI — вы можете получать в среднем не менее 8% годовых. Цены на покупку и аренду ежегодно повышаются до 4%'
			},
			{
				image: 'slide-03',
				title: 'Открытие бизнеса и банковских счетов',
				subtitle: 'Вы можете владеть бизнесом. В других странах инвесторы с ПМЖ не могут покупать бизнес. Но здесь вы можете открыть счет в банке, релоцировать компанию, открыть новую или приобрести долю в местном бизнесе'
			},
			{
				image: 'slide-04',
				title: 'Высокий уровень жизни',
				subtitle: 'Экономика Кипра одна из самых стабильных и быстрорастущих в Европе, здесь очень низкий уровень преступности, чистая экология, качественные продукты и постоянно развивающаяся инфраструктура'
			},
		],

		receives: [
			{
				title: 'Партнер по браку',
				subtitle: 'Супруга или супруг, с которыми заключен официальный брак',
			},
			{
				title: 'Несовершеннолетние дети',
				subtitle: 'ПМЖ оформляется на каждого несовершеннолетнего ребенка в семье',
			},
			{
				title: 'Родители',
				subtitle: 'Родители самого инвестора, а также родители его супруги или супруга',
			},
			{
				title: 'Дети-студенты',
				subtitle: 'Дети-студенты вузов до 25 лет, которые не в браке и финансово зависят от инвестора-заявителя',
			},
			{
				title: 'Дети-инвалиды любого возраста',
				subtitle: 'Ребенок любого возраста (взрослый), если у него есть ограничения физического или ментального характера',
			},
		],
	};
