-
	const data = {
		phone: '+357 12 34 1234',

		header: {
			links: {
				logo: '/',
			},
			menu: [
				{
					url: '#bonus',
					name: 'Бонусы недвижимости Кипра'
				},
				{
					url: '#pay',
					name: 'Процедура платежа'
				},
				{
					url: '#about',
					name: 'О компании'
				},
				{
					url: '#faqs',
					name: 'Ответы на вопросы'
				}
			]
		},

		socials: [
			{
				title: 'Свзяь по Telegram',
				name: 'Telegram',
				icon: 'telegram',
				color: '3,155,229'
			},
			{
				title: 'Свзяь по Whatsapp',
				name: 'Whatsapp',
				icon: 'whatsapp',
				color: '76,175,80'
			},
		],
	};
