-
	const data = {
		phone: '+357 12 34 1234',
		mail: 'info@spm.family',

		header: {
			links: {
				logo: '/',
			},
			menu: [
				{
					url: '#bonus',
					name: 'Бонусы недвижимости Кипра'
				},
				{
					url: '#pay',
					name: 'Процедура платежа'
				},
				{
					url: '#about',
					name: 'О компании'
				},
				{
					url: '#faqs',
					name: 'Ответы на вопросы'
				}
			]
		},

		socials: [
			{
				title: 'Свзяь по Telegram',
				name: 'Telegram',
				icon: 'telegram',
				color: '3,155,229'
			},
			{
				title: 'Свзяь по Whatsapp',
				name: 'Whatsapp',
				icon: 'whatsapp',
				color: '76,175,80'
			},
		],

		estates: [
			{
				title: 'Для жизни',
				subtitle: 'Сделка купли-продажи осуществляется безопасно и просто. Упрощенный процесс покупки недвижимости для жизни:',
				tags: ['таунхаусов', 'вилл', 'апартаментом']
			},
			{
				title: 'Для инвестиций',
				subtitle: 'Токенизация недвижимости позволяет купить за криптовалюту объекты с высоким показателем возврата инвестиций:',
				tags: ['рестораны', 'отели', 'сервисные объекты']
			},
		],

		privileges: [
			{
				icon: 'graph',
				title: 'Стабильность от внешних факторов',
				subtitle: 'На курс криптовалюты не влияет политическая ситуация и сезонные финансовые колебания'
			},
			{
				icon: 'sert',
				title: 'Конфиденциальность сделки',
				subtitle: 'Операции проходят по защищенному протоколу без упоминания личных данных инвестора и застройщика'
			},
		],

		payment: [
			{
				title: 'Подбор объекта недвижимости',
				subtitle: 'Подбор соответствующего объекта недвижимости под данный механизм оплаты с последующим оформлением соглашения с застройщиком'
			},
			{
				title: 'Оформление права собственности',
				subtitle: 'Подбор соответствующего объекта недвижимости под данный механизм оплаты с последующим оформлением соглашения с застройщиком'
			},
			{
				title: 'Перечисление криптовалюты клиентом',
				subtitle: 'Подбор соответствующего объекта недвижимости под данный механизм оплаты с последующим оформлением соглашения с застройщиком'
			},
			{
				title: 'Выплата застройщику',
				subtitle: 'Подбор соответствующего объекта недвижимости под данный механизм оплаты с последующим оформлением соглашения с застройщиком'
			},
			{
				title: 'Конвертация цифровых активов в евро',
				subtitle: 'Подбор соответствующего объекта недвижимости под данный механизм оплаты с последующим оформлением соглашения с застройщиком'
			},
		]
	};
