main.content
	include ../sections/hero
	include ../sections/about
	include ../sections/estate
	include ../sections/privilege
	include ../sections/payment
	include ../sections/necessary
	include ../sections/callback
	include ../sections/capability
	include ../sections/receive
	include ../sections/valuable
	include ../sections/property
	include ../sections/services
	include ../sections/faqs
