*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	position: relative;
	overflow-x: hidden;
	min-height: 100vh;
	box-sizing: border-box;
	font-family: $font-primary;
	font-size: 16px;
	scroll-behavior: smooth;

	&.has-cursor,
	&.has-cursor * {
		// stylelint-disable-next-line
		cursor: none !important;
	}

	&.is-lock-scroll,
	&.is-lock-scroll body {
		overflow: hidden;
	}
}

body {
	-webkit-font-smoothing: antialiased;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	background-color: var(--body-color);
	color: #fff;
}

main {
	flex: 1;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

p {
	margin: 0;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}

a,
button {
	outline: none;
	transition: $duration-normal;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: currentColor;
}

svg {
	display: block;
	flex: 0 0 auto;
	width: 100%;
	height: 100%;
	fill: currentColor;
}

figure,
picture {
	display: inline-block;
	margin: 0;
	line-height: 0;

	img {
		width: 100%;
	}
}

img {
	vertical-align: top;
	max-width: 100%;
	user-select: none;
}

img[draggable="false"] {
	pointer-events: none;
	// stylelint-disable-next-line
	-webkit-user-drag: none;
}

fieldset {
	margin: 0;
	border: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

video {
	outline: none;
	width: 100%;
	height: 100%;
}

iframe {
	display: block;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	border: 0;
	padding: 0;
	text-align: center;
	background-color: transparent;
	transition: $duration-normal;
	user-select: none;

	&-primary {
		padding: 0 32px;
		width: max-content;
		font-family: var(--secondary-font);
		font-weight: 700;
		font-size: 14px;
		line-height: 70px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: #fff;
		background: var(--secondary-color);
		border-radius: 10px;

		@include hover {
			background: #735A9C;
		}

		@include mobile {
			padding: 0 38px;
			font-size: 12px;
			line-height: 46px;
		}
	}

	&-social {
		padding: 0 20px;
		font-size: 14px;
		line-height: 50px;
		color: #fff;
		background-color: rgba(var(--social-color), 1);
		border-radius: 10px;

		@include mobile {
			line-height: 46px;
		}
	}
}

.js-lazy-load:not(.is-loaded) {
	max-height: 50vh;
}

.container {
	position: relative;
	z-index: 1;
	padding: 0 16px;
	margin: 0 auto;
	width: 100%;
	max-width: 360px;

	@include desktop {
		max-width: 1316px;
	}
}

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh; // fallback
	// stylelint-disable-next-line
	min-height: var(--vh);
	overflow: hidden;
}

.text--bg {
	padding: 30px;
	background-color: rgba($color: #fff, $alpha: 0.15);
	border-radius: 30px;

	@include mobile {
		padding: 20px;
		border-radius: 20px;
	}
}

.title {
	font-family: var(--primary-font);
	font-weight: 400;
	font-size: 35px;
	line-height: 120%;
	color: #fff;

	@include desktop-sm {
		font-size: 28px;
	}

	@include mobile {
		margin-bottom: 40px;
		font-size: 25px;
	}
}

.subtitle {
	font-family: var(--secondary-font);
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	color: var(--grey-color);

	&:not(:last-child) {
		margin-bottom: 20px;
	}

	@include mobile {

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}

.section {
	&__grid {
		display: grid;
		grid-template-columns: 26% 1fr;
		gap: 106px;
	
		@include mobile {
			display: block;
		}
	}

	&__col {
		display: flex;
		gap: 10px;
		@include mobile {
			overflow-x: auto;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		@include desktop {
			gap: 30px;
		}
	}
}

.card {
	padding: 30px;
	border-radius: var(--radius-normal);

	@include mobile {
		padding: 20px;
		width: 300px;
		flex: 0 0 300px;
	}

	@include desktop {
		width: calc(50% - 15px);
		flex: 0 0 calc(50% - 15px);
	}

	&__header {
		margin-bottom: 50px;

		@include mobile {
			margin-bottom: 25px;
		}
	}

	&__number {
		font-family: var(--secondary-font);
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		width: 62px;
		height: 50px;
		border-radius: 10px;
		background-color: rgba($color: #fff, $alpha: 0.5);
		display: flex;
		align-items: center;
		justify-content: center;

		@include mobile {
			width: 46px;
			height: 37px;
			font-size: 14px;
		}
	}

	&__title {
		font-weight: 400;
		font-size: 25px;
		line-height: 120%;
		word-break: break-word;

		&:not(:last-child) {
			margin-bottom: 30px;

			@include mobile {
				margin-bottom: 15px;
			}
		}

		@include mobile {
			font-size: 20px;
		}
	}

	&__subtitle {
		font-family: var(--secondary-font);
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;

		@include mobile {
			font-size: 14px;
		}
	}

	&__body {
		margin-bottom: 20px;
	}

	&__footer {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px;

		@include mobile {
			gap: 4px;
		}
	}

	&--primary {
		background-color: var(--primary-color);
		box-shadow: 0px 40px 80px -29px rgba(124, 196, 158, 0.5);

		@include mobile {
			box-shadow: none;
		}

		.tag {
			background: rgba(90, 139, 113, 0.3);
		}
	}

	&--secondary {
		background-color: var(--secondary-color);
		box-shadow: 0px 40px 80px -29px rgba(151, 124, 197, 0.5);

		@include mobile {
			box-shadow: none;
		}

		.tag {
			background: rgba(96, 82, 121, 0.3);
		}
	}

	&--white {
		background-color: #fff;
	}
}

.tag {
	padding: 0 30px;
	font-size: 14px;
	line-height: 53px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #fff;
	border-radius: 50px;

	@include mobile {
		padding: 0 20px;
		font-size: 12px;
		line-height: 50px;
	}
}

.cookie {
	position: fixed;
	left: 50px;
	bottom: 50px;
	padding: 30px;
	width: 259px;
	background: #2F3643;
	border-radius: 20px;
	font-family: var(--secondary-font);
	font-size: 14px;
	line-height: 140%;
	color: #fff;
	z-index: 1030;

	@include mobile {
		left: 16px;
		bottom: 40px;
	}

	.btn {
		margin-top: 30px;
		padding: 0 28px;
		line-height: 46px;
	}
}

.form-group {
	position: relative;

	&__input {
		padding: 10px 30px;
		width: 100%;
		height: 70px;
		font-family: var(--secondary-font);
		font-weight: 500;
		font-size: 16px;
		color: var(--grey-color);
		background: #fff;
		border: none;
		border-radius: 10px;

		@include mobile {
			padding: 10px 20px;
			height: 46px;
			font-size: 12px;
		}
	}
}

.agree {
	font-family: var(--secondary-font);
	font-weight: 500;
	font-size: 10px;
	line-height: 120%;
	color: #fff;

	&__link {
		text-decoration: underline;
	}
}

/* stylelint-disable */
/*
* Немедленно переместите любую анимацию в конечную точку, если пользователь установил свое устройство в положение "prefers reduced motion".
* Это может привести к плохим(непреднамеренным) последствиям. Удалите по мере необходимости и напишите свой собственный код для prefers-reduced-motion.
*/
@media (prefers-reduced-motion: reduce) {
	*,
	*:before,
	*:after {
		animation-duration: 0.001s !important;
		animation-delay: 0s !important;
		transition-duration: 0.001s !important;
		transition-delay: 0s !important;
	}
}
/* stylelint-enable */
