// stylelint-disable no-empty-source
// @include font-face("../fonts/FontName/FontName", "FontName", 400, normal);
@include font-face("../fonts/IgraSans/IgraSans", "Igra Sans", 400, normal);
@include font-face("../fonts/VelaSans/VelaSans-Medium", "Vela Sans", 500, normal);
