// stylelint-disable scss/dollar-variable-empty-line-before
@import "mixins";
// COLORS
$color-black: #000;
$color-white: #fff;
$color-gray: #eee;
$color-primary: #7cc59e;
$color-secondary: #9978cf;

// FONTS
// stylelint-disable-next-line
$font-primary: -apple-system, blinkmacsystemfont, var(--primary-font), roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;

// EASING TRANSITIONS
$duration-normal: 0.4s;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-out: ease-out;
$easing-in: ease-in;

// Settings
$desktop: 1024;
$desktop-sm: 1284;
$desktop-xl: 1800;
$laptop: 1440;
$tablet: 768;
$mobile: 320;
$desktop-vh: 750;

:root {
  --body-color: #000919;
  --primary-color: #7cc59e;
  --secondary-color: #9978cf;
  --dark-color: #00091a;
  --grey-color: #878d98;
  --tuna-color: #2f3540;
  --primary-font: "Igra Sans";
  --secondary-font: "Vela Sans";
  --radius-big: 50px;
  --radius-normal: 30px;
  --transition-normal: 0.3s ease-in-out;
}

@include mobile {
  :root {
    --radius-big: 30px;
  }
}